* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ede4e4;
  color: #212121;
  line-height: 1.5;
  background: rgba(235, 158, 205, 0.44);
}
.list__item {
    border-radius: 6px;
    background: rgb(249, 223, 189);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px;
    transition: background-color .5s;
    display: flex;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(20, 19, 19, 0.1);
}
#search-box {
  font: inherit;
  padding: 12px;
  max-width: 500px;
  margin-bottom: 16px;
  /* border: none; */
  border-radius: 5px;
  box-shadow:
            0px 1px 6px rgba(66, 72, 189, 0.08),
            0px 1px 1px rgba(30, 30, 35, 0.16),
            0px 2px 1px rgba(46, 47, 53, 0.08);

}
.country-list {
  list-style: none;
}
.title-country {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: black;
  margin-bottom: 15px;
}
.capital-country {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(22, 16, 16);
}
.capital-data,
.data-value,
.language-country {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: navy;
}